@model AppSemTemplate.Models.Produto

@{
    ViewData["Title"] = "Detalhes do Produto";
}

<h1>@ViewData["Title"]</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Imagem)
        </dt>
        <dd class="col-sm-10">
            <img src="~/images/@Model.Imagem" alt="@Model.Imagem" style="width: 70px; height: 100px" />
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Valor)
        </dt>
        <dd class="col-sm-10">
            R$ @Html.DisplayFor(model => model.Valor)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-warning">
        <span class="fa fa-pencil-alt"></span> Editar
    </a>
    <a asp-action="Index" class="btn btn-secondary">
        <span class="fa fa-arrow-left"></span> Voltar à Lista
    </a>
</div>